.oig21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1550px;
  height: 1092px;
  background-image: url(/public/oig21@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.black1Icon,
.frame,
.frame1 {
  position: absolute;
  width: 101px;
}
.black1Icon {
  top: 0;
  left: 0;
  height: 104px;
  object-fit: cover;
}
.frame,
.frame1 {
  top: 20px;
  left: 29px;
  height: 1072px;
  overflow: hidden;
}
.frame {
  top: 0;
  left: 0;
  width: 1550px;
  height: 1092px;
}
.securelyRecordYour {
  margin: 0;
}
.securelyRecordYourContainer {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  width: 862px;
}
.frame3 {
  position: absolute;
  top: 218px;
  left: 0;
  width: 862px;
  height: 840px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.registerYourHome {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame4 {
  position: absolute;
  top: 152px;
  left: 13px;
  width: 833px;
  height: 906px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-26xl);
  color: #334c62;
  font-family: var(--font-inter);
}
.about {
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.about,
.frame6,
.signUp {
  position: absolute;
}
.signUp {
  top: 0;
  left: 95px;
  text-transform: capitalize;
  font-weight: 600;
}
.frame6 {
  top: 8px;
  left: 0;
  width: 171px;
  height: 24px;
  overflow: hidden;
}
.connectWallet1,
.login,
.mapView {
  position: absolute;
  top: 8px;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.connectWallet1,
.mapView {
  left: 89px;
}
.connectWallet1 {
  left: 3px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.connectWallet {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-mediumspringgreen);
  position: absolute;
  top: 0;
  left: 348px;
  border-radius: var(--br-4xs);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  width: 184px;
  height: 44px;
}
.homes {
  position: absolute;
  top: 8px;
  left: 228px;
  text-transform: capitalize;
  font-weight: 600;
}
.frame7,
.navBar {
  position: absolute;
  top: 0;
  height: 44px;
}
.frame7 {
  left: 210px;
  width: 532px;
  overflow: hidden;
}
.navBar {
  left: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.32);
  width: 742px;
}
.frame5,
.frame8,
.frameChild {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame5 {
  left: 387px;
  width: 742px;
  height: 1058px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame8,
.frameChild {
  left: 0;
  width: 100px;
  height: 100px;
}
.frame8 {
  top: 75px;
  left: 22px;
  height: 983px;
}
.frame9,
.selectYourHouse {
  position: absolute;
  height: 25.85px;
}
.selectYourHouse {
  margin: 0;
  top: 0;
  left: 533.64px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 405.46px;
}
.frame9 {
  top: 79.4px;
  left: 52px;
  width: 939.1px;
  overflow: hidden;
}
.frame10,
.geolocationData {
  position: absolute;
  height: 26px;
}
.geolocationData {
  margin: 0;
  top: 0;
  left: 613px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  width: 281px;
}
.frame10 {
  top: 28px;
  left: 52px;
  width: 894px;
  overflow: hidden;
}
.frameItem {
  position: absolute;
  top: 0;
  left: 429.96px;
  border-radius: 29px;
  width: 552.88px;
  height: 428.41px;
  object-fit: cover;
}
.frameChild1,
.frameChild2,
.frameInner,
.rectangleInput {
  border: 2px solid var(--color-lightgray-100);
  background-color: transparent;
  position: absolute;
  top: 32.05px;
  left: 0;
  border-radius: var(--br-61xl-5);
  box-sizing: border-box;
  width: 411px;
  height: 53px;
}
.frameChild1,
.frameChild2,
.rectangleInput {
  top: 148.05px;
}
.frameChild1,
.frameChild2 {
  top: 266.05px;
}
.frameChild2 {
  top: 375.05px;
}
.legalDocumentsUpload,
.propertyDetails,
.theLocationIs,
.uploadImage {
  position: absolute;
  top: 0;
  left: 15.27px;
  text-transform: capitalize;
  display: inline-block;
  width: 189.83px;
  height: 24.93px;
}
.legalDocumentsUpload,
.theLocationIs,
.uploadImage {
  top: 114.49px;
  width: 436.07px;
  height: 25.85px;
}
.theLocationIs,
.uploadImage {
  top: 232.05px;
  left: 14px;
  width: 250px;
  height: 26px;
}
.uploadImage {
  top: 341.05px;
  left: 15px;
  width: 190px;
}
.frame11,
.frame12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 451.34px;
  height: 428.05px;
  overflow: hidden;
}
.frame11 {
  top: 120.95px;
  left: 52px;
  width: 982.85px;
  height: 428.41px;
  font-size: var(--font-size-5xl);
}
.frameChild3 {
  border: 0;
  background-color: var(--color-midnightblue-100);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 29.5px;
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.25);
  width: 309px;
  height: 57px;
}
.registerNow {
  margin: 0;
  position: absolute;
  top: 9px;
  left: 57px;
  font-size: inherit;
  text-transform: capitalize;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 211px;
  height: 36px;
}
.frame13,
.frame14 {
  position: absolute;
  top: 0;
  left: 325px;
  width: 309px;
  height: 57px;
  overflow: hidden;
}
.frame13 {
  top: 587px;
  left: 52px;
  width: 634px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.frameParent {
  position: absolute;
  top: 371px;
  left: 14px;
  border-radius: var(--br-smi);
  background-color: var(--color-white);
  box-shadow: 2px 6px 34px rgba(0, 0, 0, 0.43);
  width: 1080px;
  height: 687px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame2 {
  position: absolute;
  top: 34px;
  left: 331px;
  width: 1129px;
  height: 1058px;
  overflow: hidden;
}
.registerPage {
  position: relative;
  background-color: #ebf2ff;
  width: 100%;
  height: 1092px;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .frame3,
  .oig21 {
    opacity: 0;
  }
  .frame3.animate,
  .oig21.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
@media screen and (max-width: 960px) {
  .oig21 {
    opacity: 0;
  }
  .oig21.animate {
    animation: 1s ease 0s 1 normal forwards slide-in-top;
  }
  @keyframes slide-in-top {
    0% {
      transform: translateY(-200px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
